.searchTable.components .searchForm .query.ivu-btn{
    margin-left: 8px;
}
  
.searchTable.components .searchForm .ivu-btn{
    margin-left: 5px;
}
  
.searchTable.components .searchForm .ivu-btn {
    height: 32px;
}